:host {
  align-content: center;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  height: 100%;
  justify-content: center;
  overflow: auto;
}

aside {
  width: 50vw;

  .box {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto 1fr;

    i {
      justify-self: center;
    }

  }

}
