:host {
  display: block;
  height: 100%;
}

lib-drawer-container {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;

  --nav-height: 48px;

  .content {
    height: calc(100% - var(--nav-height));
  }

  lib-drawer-panel {
    background-color: var(--background-color);
    width: 300px;
  }

  nav {
    align-content: center;
    display: grid;
    grid-template-columns: auto auto 1fr auto auto;
    height: var(--nav-height);
    padding: 4px;
  }

}
