:host {
  display: block;
  height: 100%;
}

lib-drawer-container {
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;

  --nav-height: 48px;

  .content {
    height: calc(100% - var(--nav-height));
  }

  el3270-toolbar {
    height: var(--nav-height);
  }

  lib-drawer-panel {
    background-color: var(--background-color);
    width: 300px;
  }

}
