<h3 class="drawer-header">

  <div class="icon">

    <fa-icon
      [icon]="['fas', 'cog']"
      size="lg">
    </fa-icon>

  </div>

  <div class="title">
    3270 Setup
  </div>

</h3>

<form
  (submit)="close()"
  [formGroup]="prefsForm"
  [libRxfSubmit]="prefsForm"
  novalidate>

  <div class="hostAndPort">

    <mat-form-field>
      <input
        formControlName="host"
        matInput
        placeholder="Host Name or IP"
        type="text">
    </mat-form-field>

    <mat-form-field>
      <input
        formControlName="port"
        matInput
        placeholder="Port"
        type="number">
    </mat-form-field>

    <ng-container *ngIf="prefsForm.get('port').errors as portErrors">

      <mat-error *ngIf="portErrors.min">
        Port must not be lower than {{ portErrors.min.min }}
      </mat-error>

      <mat-error *ngIf="portErrors.max">
        Port must not be greater than {{ portErrors.max.max }}
      </mat-error>

    </ng-container>

  </div>

  <mat-radio-group
    class="model"
    formControlName="model">

    <b>Select 3270 Model to Emulate</b>

    <mat-radio-button value="IBM-3278-1-E">
      IBM-3278-1 <i> &mdash; 80 x 12</i>
    </mat-radio-button>
    <mat-radio-button value="IBM-3278-2-E">
      IBM-3278-2 <i> &mdash; 80 x 24</i>
    </mat-radio-button>
    <mat-radio-button value="IBM-3278-3-E">
      IBM-3278-3 <i> &mdash; 80 x 32</i>
    </mat-radio-button>
    <mat-radio-button value="IBM-3278-4-E">
      IBM-3278-4 <i> &mdash; 80 x 43</i>
    </mat-radio-button>
    <mat-radio-button value="IBM-3278-5-E">
      IBM-3278-5 <i> &mdash; 132 x 27</i>
    </mat-radio-button>

  </mat-radio-group>

  <mat-radio-group
    class="color"
    formControlName="color">

    <b>Select Default 3270 Color</b>

    <mat-radio-button value="green">
      <span class="lu3270 green"  >
        <b>CUSTOMER NUM:</b> 123456
      </span>
    </mat-radio-button>

    <mat-radio-button value="blue">
      <span class="lu3270 blue">
        <b>CUSTOMER NUM:</b> 123456
      </span>
    </mat-radio-button>

    <mat-radio-button value="orange">
      <span class="lu3270 orange">
        <b>CUSTOMER NUM:</b> 123456
      </span>
    </mat-radio-button>

    <mat-radio-button value="white">
      <span class="lu3270 white">
        <b>CUSTOMER NUM:</b> 123456
      </span>
    </mat-radio-button>

  </mat-radio-group>

  <div class="okAndCancel">

    <a
      (click)="close()"
      mat-button>
      Cancel
    </a>

    <button
      [disabled]="prefsForm.invalid"
      color="primary"
      mat-raised-button
      type="submit">
      OK
    </button>

  </div>

</form>
