:host {
  display: block;
  overflow: auto;
  padding: 16px;
}

form {
  display: grid;
  grid-gap: 16px;
  grid-template-columns: 1fr;

  .color {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto;

    .blue {
      color: var(--mat-blue-300);
      b {
        color: var(--mat-blue-400);
      }
    }

    .green {
      color: var(--mat-green-300);
      b {
        color: var(--mat-green-400);
      }
    }

    .orange {
      color: var(--mat-orange-300);
      b {
        color: var(--mat-orange-400);
      }
    }

    .white {
      color: var(--mat-grey-100);
      b {
        color: white;
      }
    }

  }

  .hostAndPort {
    display: grid;
    grid-template-columns: 192px 64px;
    justify-content: space-between;

    mat-error {
      grid-column-start: span 2;
    }

  }

  .model {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: auto;

    i {
      font-size: 0.8em;
    }

  }

  .okAndCancel {
    display: grid;
    grid-gap: 16px;
    grid-template-columns: auto auto;
    justify-content: right;
  }

}
