:root {

  /* el3270 theme */

  --primary-color: var(--paper-blue-500);
  --light-primary-color: var(--paper-blue-100);
  --dark-primary-color: var(--paper-blue-700);

  --accent-color: var(--paper-pink-a200);
  --light-accent-color: var(--paper-pink-a100);
  --dark-accent-color: var(--paper-pink-a400);

  --primary-text-color: var(--paper-grey-100);
  --primary-background-color: var(--paper-grey-900);
  --secondary-text-color: var(--paper-grey-400);

  --disabled-background-color: var(--paper-grey-700);
  --disabled-text-color: var(--paper-grey-500);

}
