:host {
  align-content: center;
  border-top: 1px solid var(--lu3270-color);
  color: var(--lu3270-color);
  display: grid;
  font-family: '3270 Font';
  font-size: 18px;
  grid-gap: 16px;
  grid-template-columns: auto auto auto 1fr auto auto auto;
  padding: 8px 16px;
}

.locked {
  color: var(--error-color);
}
