<div
  *ngIf="status.connected" >
  <fa-icon
    [icon]="['fas', 'desktop']">
  </fa-icon>
  {{ prefs.model }}
</div>

<div
  *ngIf="!status.connected" >
  <fa-icon
    [icon]="['fas', 'power-off']">
  </fa-icon>
</div>

<div
  [ngStyle]="{visibility: status.waiting? 'visible' : 'hidden'}">
  <fa-icon
    [icon]="['fas', 'spinner']"
    [pulse]="true">
  </fa-icon>
  WAIT
</div>

<div
  [ngStyle]="{color: 'var(--error-color)', visibility: status.error? 'visible' : 'hidden'}">
  <fa-icon
    [icon]="['fas', 'times']">
  </fa-icon>
  {{ status.message }}
</div>

<div>&nbsp;</div>

<div
  [ngStyle]="{visibility: (status.connected && screen.cells[status.cursorAt]?.attributes.numeric)? 'visible' : 'hidden'}">
  NUM
</div>

<div
  [ngStyle]="{visibility: (status.connected && (screen.cells[status.cursorAt]?.attribute || screen.cells[status.cursorAt]?.attributes.protect))? 'visible' : 'hidden'}">
  PROT
</div>

<div
  [ngStyle]="{visibility: (status.connected && (status.cursorAt >= 0))? 'visible' : 'hidden'}">
  {{ rowNum() | number:'3.0-0' }}/{{ colNum() | number:'3.0-0' }}
</div>

<audio
  #ding
  src="http://blender.freemovies.co.uk/blenderfiles/car/bell.wav">
</audio>
