<div
  *ngIf="status.connected" >
  <i class="fas fa-desktop"></i>
  {{ prefs.model }}
</div>

<div
  *ngIf="!status.connected" >
  <i class="fas fa-power-off"></i>
</div>

<div
  [ngStyle]="{visibility: status.waiting? 'visible' : 'hidden'}">
  <i class="fas fa-spinner fa-pulse"></i>
  WAIT
</div>

<div
  [ngStyle]="{color: 'var(--error-color)', visibility: 'hidden'}">
  <i class="fas fa-times"></i>
  SYSTEM
</div>

<div>&nbsp;</div>

<div
  [ngStyle]="{visibility: (status.connected && screen.cells[status.cursorAt]?.attributes.numeric)? 'visible' : 'hidden'}">
  NUM
</div>

<div
  [ngStyle]="{visibility: (status.connected && screen.cells[status.cursorAt]?.attributes.protect)? 'visible' : 'hidden'}">
  PROT
</div>

<div>&nbsp;</div>

<div
  [ngStyle]="{visibility: (status.connected && (status.cursorAt >= 0))? 'visible' : 'hidden'}">
  {{ rowNum() | number:'3.0-0' }}/{{ colNum() | number:'3.0-0' }}
</div>
