:host {
  align-content: center;
  border-top: 1px solid var(--lu3270-color);
  display: grid;
  grid-gap: 8px;
  grid-template-columns: auto auto 1fr auto auto auto 1fr auto;
  height: 32px;
  padding: 8px;
}

.locked {
  color: var(--error-color);
}

.wait {
  color: var(--lu3270-color);
}
